.searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .searchBar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
  }
  
  .searchBar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .searchBar button:hover {
    background-color: #0056b3;
  }
  